<form>
    <fieldset class="form-group">
        <label for="InputImageTitle">Title</label>
        <input type="text" class="form-control" id="InputImageTitle" placeholder="Enter title" ng-model="appForm.form.title">
    </fieldset>
    <fieldset class="form-group">
        <label for="InputLink">Link</label>
        <input type="url" class="form-control" id="InputLink" placeholder="Enter Url" ng-model="appForm.form.link">
    </fieldset>
    <fieldset>
        <label for="Description">Description</label>
        <textarea class="form-control" id="Description" rows="3" ng-model="appForm.form.description"></textarea>
    </fieldset>
    <br/>
    <fieldset>
        <file-picker on-file-select="appForm.fileDidSelect(data)"></file-picker>

        <button type="submit" ng-click="onFormSubmit({data:appForm.form})" class="btn btn-primary" >Submit</button>
    </fieldset>
</form>
