<div class="main-slick-container">
    <i class="glyphicon glyphicon-chevron-left" ng-click="imageSlider.slidersControl('next')"></i>
    <i class="glyphicon glyphicon-chevron-right" ng-click="imageSlider.slidersControl('prev')"></i>
    <slick class="main-slick" settings="imageSlider.mainSlickConfig" arrows="false">
        <div ng-repeat="image in imageSlider.model.images">
            <img ng-src="{{image.src}}"/>
        </div>
    </slick>
</div>
<slick class="sub-slick" settings="imageSlider.subSlickConfig" slides-to-show=3 slides-to-scroll=1 center-mode="true">
    <div ng-repeat="image in imageSlider.model.images">
        <div class='image-card' ng-click="imageSlider.slidersControl('go',image.id)">
            <img ng-src="{{image.src}}">
            <div class="image-card-content">
                <span>{{image.id}}</span>
                <h2>{{image.title}}</h2>
            </div>
        </div>
    </div>
</slick>