<div class="image-slider-container" ng-hide="working">
    <div id="carousel-container">
        <uib-carousel>
            <uib-slide ng-repeat="slide in imageSilder.slides track by slide.id" active="slide.active" index="$index">
                <image-slider-carousel-inner slide="slide"></image-slider-carousel-inner>
            </uib-slide>
        </uib-carousel>
        <image-slider-pointer></image-slider-pointer>
    </div>
    <slick class="sub-slick animate-if"  init-onload="false" settings="imageSilder.subSlickConfig" slides-to-show=5 slides-to-scroll=1 center-mode="true" ng-if="!working" arrows="false">
        <div ng-repeat="image in slides track by image.id">
            <image-silder-card image="image" image-did-edit="imageSilder.imageDidUpdate(data)" image-did-select="imageSilder.slideTo(image.id)"></image-silder-card>
        </div>
    </slick>
</div>
