<div class='image-card' ng-dblclick="imageSliderCard.editImage()">
    <div class='panel-btn alert alert-error' >
        <button type='button' class='close' ng-if="!image.active"  ng-click="imageSliderCard.imageDidRemove($event,{data:image})">×</button>
        <i class='edit-btn glyphicon glyphicon-edit pull-right' ng-if="image.active" ng-click="imageSliderCard.editImage(true)"></i>
    </div>
    <img ng-src="{{image.src}}">
    <div  ng-if="!imageSliderCard.isEditting">
        <div class="image-card-content">
            <span>{{image.description}}</span>
            <h2>{{image.title}}</h2>
        </div>
    </div>
    <form name="imageSliderCard.form" ng-if="imageSliderCard.isEditting">
        <div class="image-card-content">
            <textarea class="image-description form-control" ng-model="imageSliderCard.form.image.description"  ng-init="imageSliderCard.form.image.description = image.description" />
            <span class="image-title-alert" ng-show="!imageSliderCard.form.image.title">Please provide a title.</span>
            <input class="image-title form-control" ng-model="imageSliderCard.form.image.title" required ng-init="imageSliderCard.form.image.title = image.title"></input>
        </div>
    </form>
</div>

