<header class="app-header">
    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="openAppForm=!openAppForm">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true">
        <label>add image</label>
        </label>
    </button>

</header>
<div class="app-app-form-container" ng-show="openAppForm">
    <app-form on-form-submit="app.formDidSubmit(data)"></app-form>
    <br/>
    <button type="button" class="btn btn-danger" ng-if="app.dev" ng-click="app.clearStorage()">clear storage</button>

</div>
<div class="app-image-slider-container">
    <image-silder image-did-upadte="app.onImageUpdated(data)" slides="app.slides" working="app.working"></image-silder>
</div>
