<div class="row">
    <div class="col-md-11 app-container">

        <div class="col-md-4 app-app-form-container">

            <app-form on-form-submit="app.formDidSubmit(data)"></app-form>
            <br/>
            <button type="button" class="btn btn-danger" ng-if="app.dev" ng-click="app.clearStorage()">clear storage</button>

        </div>
        <div class="col-md-7 app-image-slider-container">
            <image-silder image-did-upadte="app.onImageUpdated(data)" slides="app.slides" working="app.working"></image-silder>
        </div>

    </div>
</div>