@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';

$headerHeight: 58px;

body{
  background-color: #f5f5f5;
}

header.app-header{
  position: fixed;
  top: 0;
  width: 100%;
  color: #d2d2d2;
  z-index: 9999;
  padding: 15px;
  background-color: rgb(34, 34, 34);
  opacity: .95;
  height: $headerHeight;
  button{
    cursor: pointer;
    label {
      cursor: pointer;
      word-spacing: -9px;
    }
  }
}

.app-image-slider-container {
  height: 950px;
  margin-top: $headerHeight;
}

.app-app-form-container {
  transition: all .3s;
  -webkit-transition: all .3s;
  position: fixed;
  z-index: 9999;
  overflow: hidden;
  height: 950px;
  padding: 50px;
  width: 400px;
  background-color: rgba(221, 221, 221, 0.95);
  top: $headerHeight;
}
.app-app-form-container.ng-hide{
  width: 0px;
}

.app-container {
  left: 50%;
  transform: translate(-46%);
  top: 30px;
}

//todo
.animate-if.ng-enter, .image-slider-container.ng-leave {
  -webkit-transition: 0.6s linear all;
  transition: 0.6s linear all;
}

.animate-if.ng-enter {
  opacity: 0;
}

.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

.animate-if.ng-leave {
  opacity:1;
}

.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}


